---
layout: default
title: Columbia Engineering AI Entrepreneurship Series
---


<div class="container my-5">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>  Columbia Engineering AI Entrepreneurship Series</h1>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row" style="margin-top: 2em">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <p>
    The Columbia Engineering AI Entrepreneurship Series is a bi-weekly speaker series that brings students and faculty at Columbia  together with founders, VCs, technologiests, and business leaders to 
    learn about the process of transitioning lessons from research and the classroom into products and value.  
    </p>

  </div>
  <div class="col-md-5">

    <p> <span style="font-weight: bold;">When:</span> Wednesdays or Thursdays at 6-8PM </p>

    <p> <span style="font-weight: bold;">Where:</span> TBD </p>
  </div>
  </div>



<div class="row" style="margin-top: 2em">
  <div class="col-md-1"></div>
  <div class="col-md-10">

{% assign events = site.data.events | sort: "date" | reverse %}
{% assign today = 'now' | date: "%Y-%m-%d" %}
<h2>Upcoming Events</h2>
<div class="mb-5">
  {% for event in events %}
    {% if event.type == "startup" and event.date >= today %}
      <div class="mb-4">
        <h4>
        {% if event.link %}
          <a href="{{ event.link }}">{{ event.title }}</a>
        {% else %}
          {{ event.title }}
        {% endif %}
        {% if event.who %} <span class="who">{{ event.who }}</span>{% endif %}
        </h4>
        <p class="text-muted">{{ event.time }}  {{ event.date | date: "%B %d, %Y" }} </p>
        <div class="markdown-content">
          {{ event.description | markdownify }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>Past Events</h2>
<div>
  {% for event in events %}
    {% if event.type == "startup" and event.date < today %}
      <div class="mb-4">
        <h4>
        {% if event.link %}
          <a href="{{ event.link }}">{{ event.title }}</a>
        {% else %}
          {{ event.title }}
        {% endif %}
        {% if event.who %} <span class="who">{{ event.who }}</span>{% endif %}
        </h4>
        <p class="text-muted">{{ event.time }}  {{ event.date | date: "%B %d, %Y" }} </p>
        <div class="markdown-content">
          {{ event.description | markdownify }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>



<h2 style="margin-top: 2em;">Sponsored and Organized By</h2>

<div>
  <img src="{{ '/files/images/daplab_logo_horiz.png' | relative_url }}" alt="DAPLab Logo" style="height: 3em"/>
</div>






  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  </div>
</div>






</div>



<style>
.who {
  font-weight: normal;
  color: gray;
}
.markdown-content p {
  margin-bottom: 0.5em;
}
.markdown-content strong {
  font-weight: bold;
}
.markdown-content em {
  font-style: italic;
}
</style>
